
#ui{
  position: absolute;
  top: 0;
  height: 720px;
  width:1024px;
  pointer-events: none;
  display: none;

  #topbar{
    height: 44px;
  //  background-color: rbga(0,0,0,0.2)
    top: 0;
    position: absolute;
    z-index: 9001;
    width: 100%;
    button {
      cursor: pointer;
      pointer-events: all;
      position: absolute;
    }

#FileName {
    position: absolute;
    font: 400 11px system-ui;
  	padding: 1em 2em;
  }
    #reloadButton{
      float:right;
      position: relative;
      right: 0;
    }
    #levels{
      left:5%;
      position: absolute;
    }
  }
  #savesgroup,
  #filegroup {
    position: absolute;
    text-align: center;
    width: 50%;
    height: 100%;
    top: 0;
    #file_input {
      opacity: 0;
      position: fixed;
      width: 50%;
      height: 100%;
      top:0;
      left:0;
      cursor: pointer;
      pointer-events: all;
      z-index: 200;

    }
    label {
      height:100px;
      width: 100px;
      font-size: 1.25em;
      font-weight: 700;
      color: white;
      display: inline-block;
      cursor: pointer;
      margin-top: 50%;
    }


    &:hover #dlSvg,
    &:hover h3{
      color: #ffca42;
      fill: #ffca42;
    }

    h3 {
      color: #ffffff;
    }
  }

  #savesgroup {
    right: 0;
    overflow-y: scroll;
    pointer-events: all;

    .singleSave{
      background-color: #8AB76B;
      height:200px;
      position: relative;
      top:5%;
      width: 90%;
      margin: auto;
      margin-bottom: 2%;
      pointer-events: all;
      cursor: pointer;

      &:hover{
        opacity: 0.5;
      }
    }
  }
  select,
  button {
    pointer-events:all;
  }

  #bottomBar{

    bottom: 0;
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.2);
    padding: 11px 0px;
    display: none;

    #tileData ul{
      list-style: none;
    }
    .switchContain{
      width:120px;
      float: left;
      text-align: center;
    }
    .switch{

      label {
        position: relative;
        top: -40px;
      }
      .sliderName {
        text-align: center;
        display: block;
        top: -20px;
        position: relative;
      }

    }
    .tileInfoContain{
      text-align: right;
      position: absolute;
      right: 11px;
      top:0;
    }
  }

  button {
  	float: left;
  	display: block;
  	padding: 1em 2em;
  	border: none;
  	background: none;
  	color: inherit;
  	vertical-align: middle;
  	position: relative;
  	z-index: 1;
  }

  button:focus {
  	outline: none;
  }


}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  pointer-events: all;
  label {
    padding-left: 75px;
      display: block;
      width: 100px;
  }
  input {display:none;}
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffca42;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
